/* ===============================
   SOC Toolkit - Matrix Theme
================================= */

.stApp {
    background: #0f5c5c;
    color: #39FF14;
}

/* Sidebar */

section[data-testid="stSidebar"]{
    background:#0f5c5c;
    border-right:1px solid #1B2336;
}

/* All text */

html,
body,
p,
span,
label,
small,
div,
li{
    color:#241426 !important;
}

/* Headers */

h1,h2,h3,h4,h5,h6{
    color:#241426 !important;
}

/* Links */

a{
    color:#00FF7F !important;
}

/* Text input */

textarea,
input{
    background:#0f5c5c !important;
    color:#241426 !important;
    border:1px solid #39FF14 !important;
    border-radius:12px !important;
}

/* Placeholder */

textarea::placeholder{
    color:#4ADE80 !important;
}

/* Buttons */

.stButton>button{

    background:linear-gradient(
        90deg,
        #00A651,
        #39FF14
    );

    color:black !important;

    border:none;

    border-radius:12px;

    font-weight:700;

    transition:0.3s;
}

.stButton>button:hover{

    box-shadow:0 0 25px #39FF14;

    transform:translateY(-2px);

}

/* Metric cards */

div[data-testid="metric-container"]{

    background:#0F172A;

    border:1px solid #39FF14;

    border-radius:16px;

    box-shadow:0 0 15px rgba(57,255,20,.15);

}

/* Expander */

.streamlit-expanderHeader{

    color:#39FF14 !important;

}

/* Tables */

thead{

    color:#39FF14;

}

tbody{

    color:#39FF14;

}

/* Success */

.stSuccess{

    border-left:5px solid #39FF14;

}

/* Warning */

.stWarning{

    border-left:5px solid orange;

}

/* Error */

.stError{

    border-left:5px solid red;

}
